/* フォーム */
.contact-form {
    max-width: 1000px;
    margin: 0 auto;

    //誤りがないかの確認文
    &__before{
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.15em;
        line-height: 28px;
        text-align: center;
        color: #000;
        margin-bottom: 50px;
    }
    
    /* ラベル */
    &__label {
        padding: 10px 14px;
        font-weight: bold;
        font-size: 14px;
        text-align: left;
        color: #000;
        border: solid 2px #000;
        margin-right: 13px;
    }
    &__label-danger {
        background: #000;
        color: #fff;
    }
    
    /* お問合せフォーム ------------------------------*/
    &__items{
        padding: 77px 6.5%;
        width: auto;
        border: solid 2px #D5D5D5;
    }
    /* アイテム */
    &__item{
        dl{
            display: flex;
        }
        dt{
            width: calc(100% - 56%);
            line-height: 64px;
        }
        dd{
            width: 56%;
            align-items: left;
            select, input ,textarea{
                display: block;
                font-size: 16px;
                padding: 25px 20px;
            } 
            select,input{
                width: calc(100% - 40px);
            } 
            textarea{
                width: calc(100% - 40px);
                padding: 23px 20px 0;
                height: 140px;
            } 
            select {
                max-width: 336px;
            } 
        }
        &__name{
            display: flex;
            justify-content: space-between;
            &--input{
                width: calc(100% / 2 - 15px);
                margin-right: 30px;
            }
            &--input:last-child{
                margin-right: 0px;
            }
        }
        &__tel{
            display: flex;
            justify-content: space-between;
            &--input{
                width: calc(100% / 3 - 110px / 3);
                margin-right: 20px;
            }
            &--line::after{
                content: '';
                flex-grow: 1;
                height: 1px;
                background: #000000;
                display: block;
                width: 15px;
                position: relative;
                top: 50%;
                margin-right: 20px;
              }
            &--input:last-child{
                margin-right: 0px;
            }
        }
    }
    &__item:not(:last-child) {
        margin-bottom: 50px;
    }
    
    &__title {
        font-weight: bold;
        font-size: 20px;
        text-align: left;
        color: #000;
        &--name{
            display: inline-block;
        }
    }

    
    &__description {
        margin-top: 8px;
        font-size: 14px;
        line-height: 1.5;
        color: #707070;
    }
    
    &__privacy {
        margin: 50px 0;
        line-height: 1.5;
        color: #707070;
        &__container{
            padding:55px 0 48px;
            border: solid 2px #D5D5D5;
        }
        &__txt{
            font-weight: normal;
            font-size: 14px;
            line-height: 38px;
            text-align: center;
            color: #000;
            margin-bottom:21px;
            a{
                text-decoration: underline;
                color: #000000;
            }
        }
        &__check{
            display: block;
            margin: 0 auto;
            height: 33px;
            .check-box{
                display: inline-block;
                margin-right: 10px;
            }
            .doui{ 
                font-weight: normal;
                font-size: 18px;
                text-align: left;
                display: inline-block;
                color: #000000;
            }
        }
    }
    
    label:not(:first-child) {
        margin-left: 24px;
    }
    
    /* ボタン */
    &--submit {
        color: #fff;
        background: #1B1B1D;
        font-weight: bold;
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        color: #fff;
        padding: 33px 375px;
        border: solid 2px #1B1B1D;
        margin-bottom: 100px;
    }
    &--submit:hover {
        color: #1B1B1D;
        background: #fff;
    }
}


@media screen and (max-width: 768px) {
    /* フォーム */
    .contact-form {
        width: calc(100% - 40px);

        //誤りがないかの確認文
        &__before{
            font-size: 14px;
            padding: 0 20px;
        }
        
        /* ラベル */
        &__label {
            padding: 8px 10px; 
            font-size: 12px;
        }
        
        /* お問合せフォーム ------------------------------*/
        &__items{
            padding: 25px 20px;
        }
        /* アイテム */
        &__item{
            dl{
                display: block;
            }
            dt{
                width: auto;
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 10px;
            }
            dd{
                width: auto;
                input{
                    width: calc(100% - 24px);
                    padding: 20px 10px;
                } 
                textarea{
                    padding: 5px 10px;
                    height: 140px;
                    width: calc(100% - 20px);
                } 
                select {
                    max-width: 100%;
                    width: 335px;
                } 
            }
            &__name{
                &--input{
                    width: calc(100% / 2 - 5px);
                    margin-right: 10px;
                }
            }
            &__tel{
                display: flex;
                justify-content: space-between;
                &--input{
                    width: calc(100% / 3 - 60px / 3);
                    margin-right: 15px;
                }
                &--line::after{
                    width: 15px;
                    margin-right: 15px;
                }
                &--input:last-child{
                    margin-right: 0px;
                }
            }
        }
        
        &__title {
            font-weight: bold;
            font-size: 20px;
            text-align: left;
            color: #000;
            &--name{
                display: inline-block;
            }
        }

        
        &__description {
            margin-top: 8px;
            font-size: 14px;
            line-height: 1.5;
            color: #707070;
        }
        
        &__privacy {
            margin: 50px 0;
            line-height: 1.5;
            color: #707070;
            &__container{
                padding:20px 0;
            }
            &__txt{
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                text-align: center;
                color: #000;
                margin-bottom:20px;
            }
            &__check{
                height: 28px;
                .contact-form__label {
                    margin-right: 5px;
                }
                .check-box{
                    display: inline-block;
                    margin-right:0 5px 0 0px;
                }
                .doui{ 
                    font-size: 14px;
                }
            }
        }
        
        label:not(:first-child) {
            margin-left: 24px;
        }
        
        /* ボタン */
        &--submit {
            font-size: 16px;
            line-height: 16px;
            width: calc(100% - 40px);
            padding: 15px 0px;
            border: solid 2px #1B1B1D;
            margin-bottom: 50px;
        }
    }
}
