
// conponent
.c-sectionTitle{
    text-align: left;
    margin-bottom: 50px;
    &__ttl{
        width: min-content;
        margin-bottom: 25px;
        display: flex;
        height: 37px;
        img{
            display: block;
            padding: 0 15px;
            width: fit-content;
        }
    }
    &__ttl::before{
      content: '';
      flex-grow: 1;
      height: 1px;
      background: #000000;
      display: block;
      width: 70px;
      position: relative;
      top: 50%;
    }
    &__ttl::after{
        display: block;
      content: '';
      color: #000;
      font-size: 16px;
      font-weight: bold;
      width: 400px;
      position: relative;
      top: 50%;
      transform: translateY(-20%);
    }
    &__ttl--ja {
        display: none;
      color: #000;
      font-size: 16px;
      font-weight: bold;
      width: 200px;
      position: relative;
      top: 50%;
      transform: translateY(-20%);
    }
    &__txt{
        font-size: 16px;
        letter-spacing: 0.15em;
        line-height: 24px;
        text-align: right;
        color: #fff;
    }
}
.c-btn-large{
    width: fit-content;
    padding: 30px 115px;
    border: solid 2px #000;
    background-color: #fff;
    margin: 50px auto 0px;
    a{
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        color: #2D2D2D;
        img{
            width: 16px;
            height: 18px;
            margin-right: 10px;
        }
    }
    span{
        display: inline-block;
    }
}
/*表示するテキストが切り替わるボタン*/
.c-btn{
    position: relative;
    border: 2px solid #000;
    width:233px;
    padding: 30px;
    text-align: center;
    display: block;
    margin: 50px auto 0;
    text-decoration: none;
    color: #000;
    outline: none;
    background: #fff;
    /*アニメーションの指定*/
    transition: all .2s;
    span{
        position: absolute;
        left: 50%;
        top:50%;
        transform:translate(-50%,-50%);
        transition: all .5s;  
        display: block;
        white-space: nowrap;
        font-size: 20px;
        color: #2D2D2D;
        font-weight: bold;
    }

    img{
        margin-right: 15px;
        width: 20px;
        height: 20px;
    }
    
    /*差し替わるテキストの設定*/
    span:nth-child(2){
        opacity:0;
    }
    
    /*hoverした際の変化*/
    &:hover{
        border: 2px solid #2D2D2D;
        background: #2D2D2D;
    }

    &:hover span{
        color:#fff;
    }


    /*hoverするとテキストが入れ替わる設定*/
    &:hover span:nth-child(1){
    opacity:0;
    }

    &:hover span:nth-child(2){
    opacity:1;
    }
}



// contact-btn
.c-contact {
    position: fixed;
    top: 420px;
    right: 0;
    z-index: 9999;
    &__item {
        width: 100px;
        height: 100px;
        background-color: #1b1b1d;
        position: relative;
        margin-top: 20px;
        &__logo {
            img{
                margin: 0 auto;
                display: block;
                height: 36px;
                width: auto;
            }
        }
        &__name {
            font-family: Poppins;
            font-weight: 600;
            font-size: 12px;
            text-align: center;
            color: #fff;
            margin-top: 8px;
        }
    }  
    &__item:first-child {
        margin-top: 0px;
    }
    &__wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// pager
.c-pager {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  &__Item:not(:last-child) {
   margin-right: 10px;
  }
  &__Item-Link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 45px;
    height: 45px;
    background: #fff;
    border: solid 2px #111;
    font-size: 14px;
    color: #111;
    font-weight: bold;
    transition: all 0.15s linear;
  }
  &__Item-Link.isActive {
    background: #111;
    color: #fff;
    pointer-events: none;
  }
  &__Item-Link:not(.isActive):hover {
    background: #111;
    color: #fff;
  }
}

//breadcrumb
.c-breadcrumb{
    margin-top: 25px;
    &__lists {
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 20px;
        display: flex;
        align-items: center;
    }
    &__list {
        margin-right: 10px;
        font-size: 14px;
        color: #000;
        line-height: 18px;
        img{
            width:16px;
            height: 18px;
        }
        a{
            color: #000;
        }
    }
    
    
}

@media screen and (max-width:768px) {
    .c-sectionTitle{
        margin-bottom: 30px;
        &__ttl{
            width: min-content;
            height: 30px;
            margin-bottom: 10px;
            img{
                width: min-content;
                display: inline-block;
                padding: 0 10px;
            }
        }
        &__ttl::before{
          content: '';
          width: 50px;
          display: block;
        }
        &__ttl::after{
            display: none;
        }
        &__ttl--ja {
          display: block;
          font-size: 14px;
            margin: 10px 0 0 60px;
        }
    }
    .c-btn-large{
        width: fit-content;
        padding: 20px 40px;
        border: solid 2px #000;
        background-color: #fff;
        margin: 50px auto 0px;
        a{
            font-size: 20px;
            font-weight: bold;
            width: 100%;
            color: #2D2D2D;
        }
        span{
            display: inline-block;
        }
    }
}

@media screen and (max-width:499px) {
    .c-btn{
        width: 200px;
        height: fit-content;
        border: solid 2px #000;
        margin: 40px auto 0px;
        a{
            font-size: 18px;
        }
    }
}