.l-footer {
    width: 100%;
    &-pc{
        display: block;
    }
    &-sp{
        display: none;
    }
    &__container{
        padding: 0 20px;
    }
    &__up{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        padding: 20px 0;
        justify-content: space-between;
    }
    &__down {
        max-width: 1200px;
        margin: 0 auto;
        height: 50px;
        display: flex;
        justify-content: space-between;
        top: 50%;
    }
    &__logo {
        height: 40px;
        width: 320px;
        a{
            width: 100%;
            display: block;
        }
    }
    &__navi__items {
        display: flex;
        margin-bottom: 12px;
    }
    &__navi__item {
        margin-right: 40px;
        height: 100%;
        a{
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 0.1em;
            text-align: left;
            color: #fff;
        }
    }
    &__navi__item:last-child {
        margin-right: 0;
    }
    &__poricy {
        font-family: Karla;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        margin:16px 0 0 12px;
        color: #fff;
        display: inline;
    }
    &__copywriter {
        font-family: Karla;
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        text-align: center;
        color: #000;
        line-height: 50px;
    }
    &__icons {
        display: flex;
        line-height: 43px;
    }
    &__icon {
        width: 35px;
        height: 35px;
        padding-right: 10px;
    }
    &__icon:last-child {
        padding-right: 0px;
    }

}

@media screen and (max-width:768px) {
    .l-footer {
        width: 100%;
        &-pc{
            display: none;
        }
        &-sp{
            display: block;
        }
        &__container{
            padding: 0px;
        }
        &__up{
            margin: 0 auto;
            display: block;
            justify-content: start;
            padding: 30px 0 20px;
        }
        &__logo {
            height: 47px;
            width: 290px;
            margin: 0 auto 20px;
        }
        &__navi{
            margin: 0 auto;
        }
        &__navi__items {
            display: none;
            margin-bottom: 0px;
        }
        &__poricy {
            font-size: 12px;
            margin:0 0 10px 0px;
            text-align: center;
            color: #fff;
            display: block;
        }
        &__copywriter {
            font-size: 12px;
            text-align: center;
            line-height: 12px;
            color: #fff;
            display: block;
        }
        &__icons {
            margin:0 auto 15px;
            justify-content: center;
            line-height: 0;
        }
    
    }
}