.l-section{
    margin: 100px auto;
    padding: 0px 20px;
    text-align: center;
    max-width: 1200px;
}

@media screen and (max-width:768px) {
    .l-section{
        margin: 50px auto;
    }    
}