html{
    font-size: 10px;
    color: #333;
    overflow-x: hidden;
    font-family: "BIZ UDPGothic";
}
.cl-green{
    color: #0088a2;
}
img{
    width: 100%;
    vertical-align: bottom;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.font{
    font-family: Oswald;
}
.bg-black{
    background-color: #1B1B1D;
}

.menu-tirgger{
    width: 84px;
    height: 84px;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    &__wrap{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    span{
        width: 40px;
        height: 2px;
        background: #000;
        display: block;
    }
    span:nth-child(2n){
        margin: 10px 0;
    }
}


