html{
    font-size: 10px;
    color: #333;
    overflow-x: hidden;
    font-family: "BIZ UDPGothic";
}
.cl-green{
    color: #0088a2;
}
img{
    width: 100%;
    vertical-align: bottom;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.font{
    font-family: Oswald;
}
// 背景色
.bg-black{
    background-color: #1B1B1D;
}
.bg-darkgray{
    background-color: #39393C;
}
.bg-gray{
    background-color: #5B5B5D;
}

// conponent
.c-sectionTitle{
    text-align: left;
    margin-bottom: 50px;
    &__ttl{
        width: max-content;
        margin-bottom: 25px;
        display: flex;
        height: 37px;
        img{
            display: block;
            padding: 0 15px;
        }
    }
    &__ttl::before{
      content: '';
      flex-grow: 1;
      height: 1px;
      background: #000000;
      display: block;
      width: 70px;
      position: relative;
      top: 50%;
    }
    &__ttl--ja {
      color: #000;
      font-size: 16px;
      font-weight: bold;
      width: 200px;
      position: relative;
      top: 50%;
      transform: translateY(-20%);
    }
    &__txt{
        font-size: 16px;
        letter-spacing: 0.15em;
        line-height: 24px;
        text-align: right;
        color: #fff;
    }
}
.c-btn{
    width: 228px;
    height: 60px;
    border: solid 2px #000;
    position: relative;
    background-color: #fff;
    margin: 50px auto 0px;
    a{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-weight: bold;
        width: 100%;
        color: #2D2D2D;
    }
}
.c-contact {
    &__item {
        width: 100px;
        height: 100px;
        background-color: #1b1b1d;
        position: relative;
        margin-top: 20px;
        &__logo {
            img{
                margin: 0 auto;
                display: block;
                height: 36px;
                width: auto;
            }
        }
        &__name {
            font-family: Poppins;
            font-weight: 600;
            font-size: 12px;
            text-align: center;
            color: #fff;
            margin-top: 8px;
        }
    }  
    &__item:first-child {
        margin-top: 0px;
    }
    &__wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// メニュー
.menu-tirgger{
    width: 84px;
    height: 84px;
    background-color: #fff;
    &__wrap{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    span{
        width: 40px;
        height: 2px;
        background: #000;
        display: block;
    }
    span:nth-child(2n){
        margin: 10px 0;
    }
}


@media screen and (max-width:768px) {}

@media screen and (max-width:499px) {
}