.l-header {
    height: 80px;
    width: 100%;
    background-color: #1b1b1d;
    border-bottom: solid 1px #707070;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        height: 100%;
        margin: auto;
        padding: 0 20px;
    }
    
    /* ロゴ */
    &__logo{
        img {
            height: 40px;
            vertical-align: middle;
        }
        img:hover {
            opacity: 0.7;
            transition: .2s ease-in-out;
        }
    }
    
    /* ナビゲーション */
    &__navi {
        &__items {
            display: flex;
            list-style: none;
        }
        &__item{ 
            a {
                display: inline-block;
                transition: .2s ease-in-out;
                text-decoration: none;
                padding: 6px 13px;
                color: #fff;
                font-size: 16px;
            }
            a:hover {
                color: #000000;
                background-color: #fff;
            }
        }
    }
    .menu-tirgger{
        position: relative;
    }
}

@media screen and (max-width:768px) {}

@media screen and (max-width:499px) {
    .l-header {
        height: 60px;
        &__container {
            height: 100%;
            margin: auto;
            padding: 0;
        }
        
        /* ロゴ */
        &__logo{
            margin-left: 20px;
            img {
                height: 20px;
            }
        }
    }
}