.member {
    &__anciety {
        font-family: "Klee One";
        font-weight: 600;
        font-size: 28px;
        letter-spacing: 0.15em;
        line-height: 48px;
        text-align: center;
        color: #000;
        margin-bottom: 50px;
    }
    &__dakaras{
        display: flex;
        margin: 0 0 25px;
        justify-content: center;
    }
    &__dakara {
        img{
            width: 9px;
            height: 9px;
        }
        p{
            font-family: "Klee One";
            font-weight: 600;
            font-size: 48px;
            letter-spacing: 0.15em;
            line-height: 48px;
            text-align: center;
            color: #000;
        }
    }
    &__actions {
        display: flex;
        justify-content: space-between;
        max-width: 1004px;
        height: 254px;
        margin-bottom: 25px;
        margin: 0 auto;
    }
    &__action {
        width: 25%;
        border: solid 4px #1B1B1D;
        background-color: #1B1B1D;
        &__img {
            margin-top: 30px;
            img{
                width: 60%;
                height: 140px;
                vertical-align: middle;
            }
        }
        &__txt {
            font-family: Oswald;
            font-weight: bold;
            font-size: 32px;
            line-height: 33px;
            text-align: center;
            color: #fff;
            margin-bottom: 37px;
            &--white{
                color: #000;
            }
        }
    }
    &__action.bg-white {
        background-color: #fff;
    }
    &__next {
        margin-bottom: 81px;
        &__up {
            font-family: "Klee One";
            font-weight: 600;
            font-size: 42px;
            line-height: 90px;
            text-align: center;
            color: #000;
            margin-bottom: 11px;
            display: block;
        }
        &__down {
            font-family: "Klee One";
            font-weight: 600;
            font-size: 38px;
            line-height: 48px;
            text-align: center;
            color: #000;
            display: block;
        }

    }

    &__list {
        display: flex;
        margin-bottom: 100px;
        &__img {
            width: 46%;
            img{
                width: 100%;
                height: fit-content;
            }
        }
        &__right {
            width: calc(100% - 46%);
            padding: 8% 7.5% 8% 8%;
            &--white{
                border: solid 1px #000;
            }
        }
        &__director {
            font-weight: normal;
            font-size: 15px;
            letter-spacing: 0.1em;
            text-align: left;
            margin-bottom: 9px;
            &--gray{
                color: #fff;
            }
            &--white{
                color: #000;
            }
        }
        &__name {
            text-align: left;
            margin-bottom: 50px;
            &--ja{
                font-weight: bold;
                font-size: 32px;
                letter-spacing: 0.1em;
                text-align: left;
                &--gray{
                    color: #fff;
                }
                &--white{
                    color: #000;
                }
            }
            &--en{
                font-family: Oswald;
                font-weight: normal;
                font-size: 14px;
                letter-spacing: 0.1em;
                text-align: left;
                &--gray{
                    color: #fff;
                }
                &--white{
                    color: #000;
                }
            }
        }
        &__episode {
            margin-bottom: 100px;
            font-size: 16px;
            letter-spacing: 0.2em;
            line-height: 28px;
            text-align: left;
            &--gray{
                color: #fff;
            }
            &--white{
                color: #000;
            }
        }
        &__data {
            margin-bottom:8px;
            font-family: Oswald;
            font-weight: bold;
            font-size: 20px;
            text-align: left;
            width: fit-content;
            &--gray{
                color: #fff;
                display: flex;
                height: 20px;
            }
            &--gray::before{
                background: #fff;
              }
            &--white{
                color: #000;
                display: flex;
                height: 20px;
            }
            &--white::before{
                background: #000000;
              }
        }
        &__data::before{
            content: '';
            flex-grow: 1;
            height: 1px;
            display: block;
            width: 20px;
            position: relative;
            top: 50%;
            margin-right:10px;
          }
        &__likes {
            font-weight: normal;
            font-size: 16px;
            letter-spacing: 0.15em;
            line-height: 24px;
            text-align: left;
            &--gray{
                color: #fff;
            }
            &--white{
                color: #000;
            }
        }

    }
    
    
}



@media screen and (max-width:768px) {
    // conponent
    .c-sectionTitle{
        &__ttl::before{
        width: 50px;
        }
        &__ttl--ja {
            color: #fff;
            margin: 10px 0 20px 60px;
            width: auto;
        }
    }

    .c-contact{
        position: absolute;
        top: 420px;
        right: 0;
    }

    .member {
        &__anciety {
            font-size: 18px;
            line-height: 38px;
            margin-bottom: 30px;
            margin-top: 50px;
        }
        &__dakaras{
            margin: 0 0 20px;
            justify-content: center;
        }
        &__dakara {
            img{
                width: 6px;
                height: 6px;
            }
            p{
                font-size: 30px;
                line-height: 31px;
            }
        }
        &__actions {
            width: 320px;
            height: fit-content;    
            margin: 0 auto 20px;
            flex-wrap: wrap;
        }
        &__action {
            width: calc(50% - 4px);
            height: fit-content;
            border: solid 2px #1B1B1D;
            &__img {
                margin-top: 20px;
                img{   
                    width: 60%;
                    height: 80px;
                }
            }
            &__txt {
                font-size: 20px;
                color: #fff;
                margin-bottom: 20px;
                margin-top: 10px;
                &--white{
                    color: #000;
                }
            }
        }
        &__action.bg-white {
            background-color: #fff;
        }
        &__next {
            margin-bottom: 60px;
            &__up {
                font-size: 22px;
                line-height: 30px;
                text-align: center;
                margin-bottom: 10px;
            }
            &__down {
                font-size: 16px;
                line-height: 16px;
            }
    
        }
    
        &__list {
            display: block;
            margin-bottom: 30px;
            &__img {
                width: auto;
            }
            &__right {
                width: auto;
                padding: 20px;
            }
            &__director {
                font-size: 14px;
                margin-bottom: 15px;
            }
            &__name {
                margin-bottom: 20px;
                &--ja{
                    font-size: 25px;
                }
            }
            &__data {
                margin-bottom:10px;
                font-size: 18px;
            }
            &__data::before{
                width: 20px;
                margin-right:10px;
              }
            &__episode {
                margin-bottom: 20px;
                font-size: 14px;
                letter-spacing: 0.1em;
            }
            &__likes {
                font-size: 14px;
                letter-spacing: 0.1em;
            }
    
        }
        
        
    }

}
