.keyVisual {
    width: 100vw;
    height: 300px;
    background-color: #1b1b1d;
    &__info {
        max-width: 1200px;
        height: 300px;
        padding: 0 20px;
        margin: 0 auto;
        position: relative;
        &__wrapper {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translate(0%, -50%);
        }
        &__logo{
            display: block;    
            margin-bottom: 14px;
            width: fit-content;
            height: 37px;
        }
        &__sub-catch {
            font-size: 22px;
            color: #fff;
            margin-bottom: 34px;
            text-align: left;
        }
        &__txt {
            font-size: 16px;
            color: #fff;
            text-align: left;
        }
    }
}

@media screen and (max-width:499px) {
    .keyVisual {
        width: 100vw;
        height: 220px;
        background-color: #1b1b1d;
        &__info {
            height: 220px;
            &__logo{
                display: block;    
                margin-bottom: 10px;
                width: fit-content;
                height: 30px;
            }
            &__sub-catch {
                font-size: 18px;
                margin-bottom: 20px;
            }
            &__txt {
                font-size: 14px;
            }
        }
    }
}

