.l-contact {
    height: 350px;
    &__lists {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        border-bottom: solid 2px #fff;
    }
    &__list {
        width: 25%;
        position: relative;
        border-left: solid 2px #fff;
        &__contact {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 235px;
        }
        &__wrap {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
        }

        &__text {
            margin-top: 41px;
        }
        
        &__text__tel {
            font-weight: bold;
            font-size: 38px;
            line-height: 1.47;
            color: #fff;
            text-align: center;
        }
        
        &__text__time {
            font-weight: normal;
            font-size: 14px;
            line-height: 1.5;
            text-align: center;
            color: #fff;
            padding-top: 9px;
        }
        &__logo {
            width: 80px;
            height: 80px;
            margin: 0 auto;
        }
        &__logo-line {
            width: 60px;
            height: 2px;
            margin: 0 auto;
            margin-top: 21px;
            background-color: #fff;
        }
    }
    &__list:first-child{
        width: 50%;
        border-left: none;
    }
    
    &__btn {
        max-width: 286px;
        background: #000000;
        margin: 67px auto 22px;
        &__wrap{
            border: 2px solid #000000;
        }
        a{
            font-weight: bold;
            font-size: 20px;
            color: #2d2d2d;
            display: block;
            text-align: center;
            background: #FFFFFF;
            border: 1px solid #707070;
            margin: 0 auto;
            padding: 20px 0px;
            width: calc(100% - 22px);
            height: calc(100% - 4px);
        }
    
    }

}

@media screen and (max-width:768px) {
    .l-contact {
        height: auto;
        padding: 0;
        &__lists {
            display: block;
            justify-content: start;
            border-bottom: none;
        }
        &__list {
            width: auto;
            position: relative;
            border-left: none;
            border-bottom: solid 2px #fff;
            height: 120px;
            &__contact {
                width: 187px;
                height: 30px;
            }
            &__wrap{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }
            &__text {
                margin-top: 0px;
            }
            &__text__tel {
                font-size: 30px;
                line-height: 30px;
            }
            &__text__time {
                line-height: 1.0;
                padding-top: 0;
                margin-top: 10px;
            }
            &__text__time:last-child {
                margin-top: 5px;
            }
            &__logo {
                width: 60px;
                height: 60px;
                margin: 0 30px 0 0;
            }
            &__logo-line {
                display: none;
            }
        }
        &__list:first-child{
            width: auto;
            height: 70px;
        }
        &__btn {
            background: none;
            margin: 0;
            min-width: 200px;
            &__wrap{
                border: none;
            }
            a{
                font-weight: bold;
                font-size: 20px;
                color: #2d2d2d;
                display: block;
                text-align: center;
                background: #FFFFFF;
                margin: 0 auto;
                padding: 10px 18px;
            }
        
        }
    
    }
}