.concept {
    position: relative;
    .c-sectionTitle{
        margin-bottom: 0px;
        &__ttl{
            margin-bottom: 50px;
        }
        &__ttl::after{
            content: 'コンセプト';
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        width: calc(100% / 3 + 7%);
        font-weight: bold;
        font-size: 40px;
        letter-spacing: 0.15em;
        line-height: 60px;
        text-align: left;
        color: #1b1b1d;
        margin-right: 7%;
    }
    &__text {
        width: calc(100% / 3 * 2);
        p{
            font-family: "BIZ UDPGothic";
            font-weight: normal;
            font-size: 16px;
            letter-spacing: 0.1em;
            line-height: 28px;
            text-align: left;
            color: #000;
        }
    }
    .c-contact{
          display: block;
          position: absolute;
          top: 30px;
          right: 00%;
    }
}

@media screen and (max-width:768px) {
    .concept {
        position: relative;
        .c-sectionTitle{
            margin-bottom: 0px;
            &__ttl{
                margin-bottom: 10px;
            }
            &__ttl--ja{
                margin-bottom: 30px;
            }
        }
        &__wrapper {
            display: block;
            justify-content: start;
        }
        &__title {
            width: auto;
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 20px;
            margin-right: 0;
        }
        &__text {
            width: auto;
        }
        .c-contact{
            display: none;
        }
    }
}