.member{
    .c-sectionTitle{
        &__ttl::before{
          content: '';
          background: #fff;
        }
        &__ttl--ja{
          color: #fff;
        }
    }
    &__img__lists {

    }
    
    &__img__list {
    
    }
    
    
}

@media screen and (max-width:768px) {}

@media screen and (max-width:499px) {
}