.topVisual {
    background-image: url(/img/topVisual.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    padding: 0 20px;
    &__logo{
        height: 40px;
        width: 320px;
        position: absolute;
        top: 30px;
        left: 20px;
    }
    &__info {
        position: absolute;
        top: 50%;
        left: 84px;
        transform: translateY(-50%);
        &__catch{
            font-weight: 600;
            font-size: 58px;
            letter-spacing: 0.05em;
            line-height: 1.5;
            text-align: left;
            color: #fff;            
        }
        &__sub-catch{
            font-family: "BIZ UDPGothic";
            font-size: 22px;
            letter-spacing: 0.2em;
            text-align: left;
            color: #fff;
        }
        &__txt{
            font-family: "BIZ UDPGothic";
            font-size: 16px;
            letter-spacing: 0.2em;
            line-height: 1.75;
            text-align: left;
            color: #fff;
            margin-top: 38px;
        }
    }
    .menu-tirgger{
        position: fixed;
        top: 0;
        right: 0;
    }
}



