// conponent
.c-sectionTitle.service-title{
    &__ttl::before{
      width: 50px;
    }
}

.service{
    &-btn{
        margin:50px 0 0 auto;
    }
    // overview
    &-overview {
        margin: 50px 0 88px;
        &__logo {
            width: 715px;
            height: 91px;
            margin: 0 auto 80px;
            img{
                width: 715px;
                height: 91px;
            }
        }
        &__txt {
            font-weight: normal;
            font-size: 18px;
            letter-spacing: 0.15em;
            line-height: 36px;
            text-align: center;
            color: #000;
            margin-bottom: 100px;
            padding: 0 20px;
        }
        &__lists {
            display: flex;
            flex-wrap: nowrap;
            max-width: 1200px;
            padding: 0 20px;
            margin: 0 auto;
        }
        &__list {
            position: relative;
            width: calc(100% / 5 - 46px / 5);
            height: 230px;
            margin-right: 11px;
            background-color: #000;
            &__img {
                height: 82px;
                margin: 20px 0 17px;
                img{
                    width: fit-content;
                    height: 82px;
                    display: block;
                    margin: 0 auto;
                }
            }
            &__title {
                font-weight: 600;
                font-size: 32px;
                text-align: center;
                color: #fff;
                line-height: 47px;
        
            }
            &__text {
                height: 64px;
                font-weight: normal;
                font-size: 14px;
                letter-spacing: 0.15em;
                line-height: 20px;
                text-align: center;
                color: #fff;
                vertical-align: middle;
            }
        }
        &__list:last-child {
            margin-right: 0px;
        }
        &__list:before {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-top: 24px solid #000;
            border-right: 24px solid transparent;
            border-left: 24px solid transparent;
        }
    }

    // デザイン
    &-design {
        padding: 100px 0px 50px;
        .c-sectionTitle__ttl::before {
        background-color: #fff;
        }
        .c-sectionTitle__ttl::after {
        display: block;
        content: "オフィス＆ショップデザイン";
        color: #fff;
        }
        .l-section{
            margin: 0 auto;
        }
        &__lists {
            display: flex;
            flex-wrap: nowrap;
            margin: 0 auto;
        }
        &__list {
            width: calc(100% / 3 - 28px / 3);
            margin-right: 14px;
        }
        &__list:last-child {
            margin-right: 0px;
        }

    }

    // リノベーション
    &-renovation {
        padding: 100px 0px 50px;
        .c-sectionTitle__ttl::before {
        background-color: #000;
        }
        .c-sectionTitle__ttl::after {
        display: block;
        content: "住宅リノベーション";
        color: #000;
        }
        .c-sectionTitle__txt {
        color: #000;
        }
        .l-section{
            margin: 0 auto;
        }
        &__lists {
            display: flex;
            flex-wrap: nowrap;
            margin: 0 auto;
            max-width: 789px;
        }
        &__list {
            width: calc(100% / 3 - 200px / 3);
            margin-right: 100px;
            height: 267px;
        }
        &__list:last-child {
            margin-right: 0px;
        }

    }

    // 新築注文住宅
    &-house {
        padding: 100px 0px 50px;
        .c-sectionTitle__ttl::before {
        background-color: #fff;
        }
        .c-sectionTitle__ttl::after {
        display: block;
        content: "新築注文住宅";
        color: #fff;
        }
        .l-section{
            margin: 0 auto;
        }
        &__lists {
            display: flex;
            flex-wrap: nowrap;
            margin: 0 auto;
        }
        &__list {
            width: calc(100% / 3 - 4% / 3);
            margin-right: 2%;
            aspect-ratio: 3 / 2;
        }
        &__list:nth-child(2n) {
            img{
                display: block;
                margin: 0 auto;
                height: 100%;
                width: fit-content;
            }
        }
        &__list:last-child {
            margin-right: 0%;
        }

    }

    // ソリューション
    &-solution {
        padding: 100px 0px 50px;
        .c-sectionTitle__ttl::before {
        background-color: #000;
        }
        .c-sectionTitle__ttl::after {
        display: block;
        content: "設備空間ソリューション";
        color: #000;
        }
        .c-sectionTitle__txt {
        color: #000;
        }
        .l-section{
            margin: 0 auto;
        }
        &__lists {
            display: flex;
            flex-wrap: nowrap;
            margin: 0 auto;
        }
        &__list {
            width: calc(100% / 3 - 28px / 3);
            margin-right: 14px;
        }
        &__list:last-child {
            margin-right: 0px;
        }

    }

    // 親方
    &-oyakater {
        padding: 100px 0px 50px;
        .c-sectionTitle__ttl::before {
        background-color: #fff;
        }
        .c-sectionTitle__ttl::after {
        display: block;
        word-break: keep-all;
        content: "佐保工務店の親方達の修理・修繕・様々なお悩みサポート";
        color: #fff;
        }
        .l-section{
            margin: 0 auto;
        }
        &__lists {
            display: flex;
            flex-wrap: nowrap;
            margin: 0 auto;
        }
        &__list {
            width: calc(100% / 3 - 28px / 3);
            margin-right: 14px;
        }
        &__list:last-child {
            margin-right: 0px;
        }

    }
    
    
}

@media screen and (max-width:768px) {
    // conponent
.c-sectionTitle{
    &__ttl::before{
      width: 50px;
    }
    &__ttl--ja {
        color: #fff;
        margin: 10px 0 20px 60px;
        width: auto;
    }
}

.c-contact{
    position: absolute;
    top: 420px;
    right: 0;
}

.service{
    &-btn{
        margin:40px auto 0;
    }
    // overview
    &-overview {
        margin: 50px 0 88px;
        &__logo {
            width: 314px;
            height: 40px;
            margin: 0 auto 50px;
            img{
                width: 314px;
                height: 40px;
            }
        }
        &__txt {
            font-size: 16px;
            letter-spacing: 0.15em;
            line-height: 28px;
            text-align: left; 
            margin-bottom: 30px;
        }
        &__lists {
            flex-wrap: wrap;
        }
        &__list {
            width: calc(100% / 2 - 15px / 2);
            height: 170px;
            margin-right: 15px;
            margin-bottom: 22px;
        }
        &__list:nth-child(2n) {
            margin-right: 0px;
        }
        &__list:last-child {
            margin-right: 0px;
            margin-bottom: 0px;
        }
        &__list:before {
            border-top: 12px solid #000;
            border-right: 12px solid transparent;
            border-left: 12px solid transparent;
        }
        &__list__img {
            height: 62px;
            margin: 20px 0 7px;
            img{
                height: 62px;
            }
        }
        &__list__title {
            font-weight: 600;
            font-size: 20px;
            color: #fff;
            line-height: 20px;
            margin-bottom: 5px;
        }
        &__list__text {
            height: 46px;
            font-size: 12px;
            letter-spacing: 0.15em;
            line-height: 18px;
            text-align: center;
        }
    }

    // デザイン
    &-design {
        padding: 50px 0px 50px;
        .c-sectionTitle__ttl::after {
        display: none;
        }
        &__list {
            width: calc(100% / 3 - 4% / 3);
            margin-right: 2%;
        }

    }

    // リノベーション
    &-renovation {
        padding: 50px 0px 50px;
        .c-sectionTitle__ttl::after {
        display: none;
        }
        .c-sectionTitle__ttl--ja {
            color: #000;
        }
        &__list {
            width: calc(100% / 3 - 4% / 3);
            margin-right: 2%;
            height: auto;
        }

    }

    // 新築注文住宅
    &-house {
        padding: 50px 0px 50px;
        .c-sectionTitle__ttl::after {
        display: none;
        }
        &__list {
            width: calc(100% / 5 * 2 - 4% / 3);
            margin-right: 2%;
            aspect-ratio: auto;
            height: 88px;
        }
        &__list:nth-child(2n) {
            width: calc(100% / 5  - 4% / 3);
            img{
                display: block;
                margin: 0 auto;
                height: 100%;
                width: fit-content;
            }
        }
        &__list:last-child {
            margin-right: 0%;
        }

    }

    // ソリューション
    &-solution {
        padding: 50px 0px 50px;
        .c-sectionTitle__ttl::after {
        display: none;
        }
        .c-sectionTitle__ttl--ja {
            color: #000;
        }
        &__list {
            width: calc(100% / 3 - 4% / 3);
            margin-right: 2%;
        }

    }

    // 親方
    &-oyakater {
        padding: 50px 0px 50px;
        .c-sectionTitle__ttl {
            margin-bottom: 20px;
        }
        .c-sectionTitle__ttl::after {
        display: none;
        }
        .c-sectionTitle__ttl--ja {
            line-height: 20px;
        }
        &__list {
            width: calc(100% / 3 - 4% / 3);
            margin-right: 2%;
        }

    }
    
    
}
}
